@include block('waiting'){
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 56px;
    background-color: $--color-violet-100;

    @include media-breakpoint-up('lg') {
        margin-top: 72px;
    }

    @include element('space'){
        height: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @include element('icon'){
        font-size: 64px;
        color: $--color-orange-400;
    }
}