@include block('check') {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: white;

    @include element('title') {
        font-family: 'noto-sans';
        font-weight: 900;
    }

    @include element('notics-container') {
        display: flex;
        width: 100%;
        height: 200px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    @include element('notics') {
        font-family: 'noto-sans';
        font-size: 16px;
        color: $--color-greyscale-300;
    }
}