@include block('footer'){
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    // position: fixed;
    // bottom: 0;
    width: 100%;
    border-top: 1px solid $--color-greyscale-200 ;
    background-color: $--color-greyscale-100;
    @include element('btn-container'){
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    @include element('label'){
        font-size: 20px;
        text-align: center;
    }
    @include element('credit'){
        margin-top: 30px;
        font-size: 12px;
        text-align: center;
        color: $--color-greyscale-300;
    }
}